{
    "parser": "babel-eslint",
    "extends": ["airbnb-base"],
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    },
    "env": {
      "browser": true
    },
    "globals": {
      "__DEV__": true
    },
    "rules": {
      "no-prototype-builtins": 0,
      "max-len": 0,
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    }
  }