body{
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-ui {
    background-color: black;
    border: 1px solid black;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.crypto-ui {
    background-color: black;
    color: #fff;
    font-size: 4vmin;

}
